.App {
  text-align: center;
  max-width: 700px;
  margin: 0 auto;
  border: 2px solid black;
  border-radius: 10px;
}
.nav-bar {
  display: flex;
  justify-content: center;
  align-items: baseline;
  background: dodgerblue;
  color: white;
  padding: 20px 0;
  border-bottom: 2px solid black;
}
.nav-bar a,
.nav-bar a:visited,
.nav-bar h1 {
  color: white;
  text-decoration: none;
  font-size: 2rem;
  padding: 0 10px;
}

.smurfs h1 {
  font-size: 3rem;
  font-weight: bold;
  color: dodgerblue;
  margin-bottom: 40px;
}
.smurfs .link-container {
  text-decoration: none;
  color: white;
}
.smurfs .smurf {
  width: 60%;
  margin: 0 auto;
  border: 1px solid navy;
  margin-bottom: 20px;
  padding: 20px 0;
  background: dodgerblue;
  color: white;
}
.smurfs .smurf a,
.smurfs .smurf a:visited,
.smurfs .smurf h3,
.smurfs .smurf p {
  color: white;
  text-decoration: none;
  font-size: 2rem;
  padding: 10px;
}
.smurfs .smurf p {
  font-size: 2rem;
  padding: 5px 0;
}

.SmurfForm {
  margin: 30px 0;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.SmurfForm h1 {
  font-size: 2rem;
  font-weight: bold;
  color: dodgerblue;
  margin-bottom: 20px;
}
.SmurfForm input {
  width: 300px;
  height: 40px;
  border: 1px solid black;
  padding-left: 10px;
  font-size: 1.4rem;
  text-align: center;
  margin-right: 10px;
  text-decoration: none;
}
.SmurfForm .age-input,
.SmurfForm .height-input {
  width: 100px;
}
.SmurfForm button {
  width: 260px;
  margin-top: 30px;
  padding: 10px 0;
  color: #fff;
  background: dodgerblue;
  font-size: 1.8rem;
  border: 1px solid black;
  border-radius: 5px;
}